<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>LOGIN </title>
    <link rel="stylesheet" href="css/master.css">
    <title>Login</title>
    
    
  </head>
  <body>
    
     
  </head>

    <div class="login-box">
      <img src="img/logoo.jpg" class="avatar" alt="Avatar Image" >
      <h1>Iniciar Sesion</h1>
      <form action="C:\Users\MATHIAS\Desktop\Epic Brothers\EpicBrothers.html" method="post">
      
        <!-- USERNAME INPUT -->
        <label for="nombre de usuario">Nombre de Usuario</label>
        <input type="text" id="nombre" placeholder="Ingresar Nombre de Usuario">
        
        <!-- PASSWORD INPUT -->
        <label for="password">Contraseña</label>
        <input type="password" id="password" placeholder="Ingresar Contraseña">
        <input type="submit" onclick="return validarInicio()" value="Iniciar Sesion">
        <a href="#">¿Perdió su contraseña?</a><br>
        <a href="formulario.html">¿No tienes una cuenta?</a>
      </form>

      <div id="error"></div>

    </div>


    <script src = "vali.js"></script>
  </body>
</html>